# Lines starting with # are comments.
# All settings and options are case insensitive.

# Number of samples in a waveform (must be an integer x 7)
number_of_samples 1001
# Percentage of waveform length after trigger, [0, 100]
# N_latency*16+-15 samples are appended after trigger position, where
# N_latency=4 for external trigger, and 8 for internal trigger
# This setting hence is not exact especially for shor waveforms
# Ref. to DT5751 Register Description Manual, page 14
post_trigger_percentage 75
# How to handle software, external and channel internal trigger signals
# Options: disabled, extout_only, acq_only, acq_and_extout
software_trigger_mode acq_only
external_trigger_mode disabled
internal_trigger_mode disabled
# external trigger source, options: TTL, NIM
external_trigger_source TTL

# 4-bit trigger coincidence window
# 0: 1 ns, 1: one clock cycle, or 16 ns,
# 15 (max): 15 clock cycles, or 15 x 16 = 240 ns
coincidence_window 0
# 4-bit trigger coincidence level
# If number of triggered channel > coincidence level, 
# a global trigger is issued
coincidence_level 0

# Configuration common to all channels
[Common]
# DC offset can be from 0 to 1023 (10-bit ADC counts),
# or 1024 to 65535 (16-bit DAC counts)
channel_DC_offset 950
# Trigger threshold is from 0 to 1023
channel_trigger_threshold 940
# no internal trigger is enabled for any channel
channel_enable_trigger no
# No channel is recorded
channel_enable_recording no
# trigger polarity
channel_trigger_polarity negative

# Configuration for individual channel [n],
# where n = 0, 1, 2, 3
[0]
channel_enable_recording yes
